.logout-button{
width:100px;
}
.scrolls{
overflow-y:scroll;
height:300px;
width:50%;
background-color:#F1F1F1;
margin:0.8em;
}
#sendmes{
top:1.8em;
right:120px;
position:fixed;
}
body{
margin-left:0.5em;
margin-top:0.5em;
}
code{
word-wrap: break-word;
width:400px;
}
#backtologin{
position:fixed;
right:0.8em;
top:1em;
content:hi;
}
form{
width:28%;
}
.small{
height:32px;
padding:10px;
line-height: 5px;
}
.profile_edit{
float:right;
margin-top:-1em;
}
